.product_page {
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.product_color {
    border-radius: 100%;
    border-width: 1.5px;
    border-style: solid;
    width: 28.73px;
    height: 28.73px;

}

.product_page_inner_container {
    max-width: 1200px;
}

.product_section {
    display: grid;
    width: 100%;
    // background-color: red !important;
    column-gap: 6rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

@media (max-width:666px) {
    .product_section {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .product_page_inner_container {
        max-width: 90vw !important;
    }
}

@media (max-width: 1260px) {
    .product_section {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .product_page_inner_container {
        max-width: 600px;
    }

    .images {
        width: 8rem !important;

    }
}


.gallery {
    // background-color: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;


    .images {
        width: 8rem;
        // background-color: cyan;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: 100%;

        img {
            aspect-ratio: 0.9;
            border-radius: 1rem;
            border-style: solid;
            border-width: 1px;
            border-color: #D9D9D9;
            padding: 0.5rem;
            width: 100%;
            // height: 10rem;
            cursor: pointer;
        }
    }


}

.main_image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35rem;
    // aspect-ratio: 2/3;
    object-fit: contain !important;
    padding: 1rem;
    position: relative;
    // background-color: purple;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    border-color: #D9D9D9;

    img {
        object-fit: contain;
    }
}

.product_describtion {
    color: #787878;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}




.product_name {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background-position: center;
}

.details {
    display: flex;
    flex-direction: column;
    // background-color: chocolate;
    padding: 1rem 1rem;
    gap: 1rem
}

.describtion {
    overflow: hidden;
    color: rgba(7, 7, 7, 0.60);
    font-size: 17.265px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.5%;
}


.sizes_container,
.colors_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    div {
        color: #707070;
        font-family: Poppins;
        font-size: 14.798px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.size_button {
    cursor: pointer;
    border-radius: 6.577px;
    border: 1.644px solid var(--secondary-color);
    display: flex;
    padding: 10.688px 18.087px;
    justify-content: center;
    align-items: center;
    gap: 8.221px;
    flex-shrink: 0;
}


.buy_container {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.actions_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon_text_container {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: rgba(112, 112, 112, 1)
}

.stepper {
    div {
        color: black;
        font-size: 22.67px;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
        line-height: normal;
    }

    width: 25%;
    border-radius: 11.51px;
    border: 0.708px solid #D9D9D9;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.add_to_cart_btn {
    width: 75%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

.size {
    color: var(--primary-color);
    font-size: 21.101px;
    font-style: normal;
    line-height: normal;
}

.price_section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.discount {
    color: #818181;
    font-size: 23.02px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-variant: small-caps;
    text-decoration-line: line-through;
}

.price {
    color: var(--primary-color);
    font-size: 23.02px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    font-variant: small-caps;
}

.bottom_section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    padding: 1rem;
    z-index: 1;

    flex-direction: column;

    h1 {
        font-weight: normal;
    }
}


.product_name_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider {
    overflow: "hidden";
    width: 100%;
    padding: 10px;
}

.slider img {
    width: 100%;
    padding: 14px;
    aspect-ratio: 3/4;
    margin: 1px;
    border-radius: 10px;
}

.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
    width: 100%;
    z-index: -1;
}

.custom-dot-list-style button {
    border: none;
    background: gray;
}

.discount_tag {
    position: absolute;
    top: 2rem;
    left: 0rem;
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    color: white;
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
    background: darkgrey !important;
}